@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,600,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cardBackground: white;
  --background: hsl(0, 0%, 98%);
  --elements: hsl(0, 0%, 100%);
  --text: hsl(200, 15%, 8%);
  --bar: rgba(230, 230, 230, 0.8);
}

body {
  font-family: "Nunito", sans-serif;
  min-height: 100vh;
  font-size: 14px;
  background-color: var(--background);
}
